{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Activity</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|localizeddate('long', 'none') }}</td>
            </tr>
            <tr>
                <th>Durationtime</th>
                <td>{{ entity.durationTime|localizeddate('long', 'none') }}</td>
            </tr>
            <tr>
                <th>Remark</th>
                <td>{{ entity.remark }}</td>
            </tr>
            <tr>
                <th>Attendee</th>
                <td>{{ entity.attendee }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('chill_activity_activity_list', { 'person_id': person.id }) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('chill_activity_activity_edit', { 'id': entity.id, 'person_id': person.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
